<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <script src="https://use.fontawesome.com/6f32af3517.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="assets/books.js"></script>
  <title>Checkout for borrower: <%= @book_loan.card_id -%></title>
</head>

<body id="checkout">

  <h3 id="message">
    Checkin completed
  </h3>

  <div class="checkout">
    <input type="checkbox" id="payment">
    <label for="payment">
      <div class="tab payment">
        <h3 class="tab__title">Complete<span class="fa fa-check"></span></h3>
        <div class="tab__content">
        <span>Checkin Completed!</span>
        </div>
      </div>
    </label>
  </div>

  <div id="continue-button">
    <%= link_to "Continue", welcome_search_path %>
    <%= link_to "Back", url_for(:back) %>

  </div>
</body>
</html>